{% extends 'template.html' %}

{% block title %} All Trancations {% endblock %}
{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <table id="firm_list" class="table table-sm table-hover">
                <thead>
                <tr>
                    <th>Amount</th>
                    <th>Sector</th>
                    <th>Date</th>
                    <th>Booking Date</th>
                    <th>Passenger Name</th>
                    <th>Firm</th>

                    <th>Name</th>
                    <th>Mobile Number</th>

                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Amount</th>
                    <th>Sector</th>
                    <th>Date</th>
                    <th>Booking Date</th>
                    <th>Passenger Name</th>
                    <th>Firm</th>

                    <th>Name</th>
                    <th>Mobile Number</th>

                </tr>
                </tfoot>
                <tbody>
                {% for trancation in trancation_list %}

                    <tr style="font-weight: bolder;">
                        <td>
                            <a href="{% url 'ledger:detail-client' client_id=trancation.client.id %}">
                            {{ trancation.amount }}
                                </a>
                        </td>
                        <td>{{ trancation.sector }}</td>
                        <td>{{ trancation.date }}</td>
                        <td>{{ trancation.booking_date | date:'d-M-y' }}</td>
                        <td>{{ trancation.passenger_list }}</td>
                        <td>{{ trancation.firm }}</td>

                        <td>{{ trancation.client.name }}</td>
                        <td> {{ trancation.client.mobile_number }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}