{% extends 'template.html' %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <table id="firm_list" class="table table-sm table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Amount ({{ total.total }})</th>

                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Amount</th>

                </tr>
                </tfoot>
                <tbody>
                    {% for client in clients %}
                
                        <tr style="font-weight: bolder;">
                            <td>
                                <a class="btn-sm" href="{% url 'ledger:detail-client' client_id=client.id %}">
                                    {{ client.name }}
                                </a>
                            </td>
                            <td> {{ client.mobile_number }}</td>
                            <td style="color: {% if client.val > 0 %} red {% else %} green {% endif %}">
                                {% if client.val is not None %}
                                    {{ client.val }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}