{% extends 'template.html' %}

{% block title %} Set Period {% endblock %}
{% block content %}

<h1>Set Period</h1>
<form method='post' class="col-md-6">
    {% csrf_token %}
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">From: </span>
        <input type="date" class="form-control" name="start_date" 
        {% if form.start_date.value is not None %} value="{{form.start_date.value | date:"Y-m-d" }}"  {% endif %}
        placeholder="Name of Firm" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <div class="input-group  mb-3">
        <span class="input-group-text" id="basic-addon1">To: </span>
        <input type="date" class="form-control" name="end_date" 
        {% if form.end_date.value is not None %} value="{{form.end_date.value |  date:'Y-m-d'}}"  {% endif %}
        placeholder="Abrevation of Firm" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <input type="submit" class="btn btn-success" value="Set Period" />
</form>
<hr>
{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
    <strong> {{field.name | upper }} : {{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
{% endblock %}