{% extends 'template.html' %}

{% block title %} Ledger {% endblock %}

{% block content %}
    <h3 class="mt-3">
        {{ client.name }}
    </h3>
    <table style="padding-bottom: 0px; margin-bottom: 0px; font-weight: bold;"
           class="table table-light">
        <tr>
            <td width="25%">
                Opening Balance:

                {% if opening_balance %}
                    {{ opening_balance }}
                {% else %}
                    0
                {% endif %}
            </td>
            <td width="25%">
                Closing Balance:
                {% if closing_balance %}
                    {{ closing_balance }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
    </table>
    <table id="ledger" style=" padding-bottom: 0px; margin-bottom: 0px; font-weight: bold;"
           class="table table-condensed table-sm table-striped table-bordered table-hover">
        <thead>
        <tr style="color: white;">
            <th style="width: 5%;">Amount</th>
            <th style="width: 12.5%;">Sector</th>
            <th style="width: 12.5%;">Date</th>
            <th style="width: 10%;">Booking Date</th>
            <th style="width: 40%;">Passenger Name</th>
            <th style="width: 5%;">Balance</th>
            <th style="width: 5%;">Firm</th>
            <th style="width: 5%;">Generate</th>
        </tr>
        </thead>
        <tbody>
        {% for tran in tranctions %}
            <tr>
                <td style="width: 5%; text-align: right">
                    {{ tran.amount }}</td>
                <td style="width: 10%;">{{ tran.sector }}</td>
                <td style="width: 12%;">{{ tran.date }}</td>
                <td>{{ tran.booking_date | date:'d-M-y' }}</td>
                <td>{{ tran.passenger_list }}</td>
                <td>
                    {{ tran.balance }}
                </td>
                <td>{{ tran.firm }}</td>
                <td>
                    <a class="btn btn-primary" href="#"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('#ledger').DataTable({
                "ordering":false
            });
        });
    </script>
{% endblock %}