{%  extends 'template.html' %}
{% block title %} Delete Trancation {% endblock %}

{% block content %}
    <h3 class="mt-3">
        {{ trancation.client.name }}
    </h3>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure want to delete</p>
        <table class="table table-bordered">
            <tr>
                <td>Amount</td>
                <td>Sector</td>
                <td>Date</td>
                <td>Passenger List</td>
            </tr>
            <tr>
                <td>{{ trancation.amount }}</td>
                <td>{{ trancation.sector }}</td>
                <td>{{ trancation.date }}</td>
                <td>{{ trancation.passenger_list }}</td>
            </tr>
        </table>
        <input class="btn btn-danger" type="submit" value="Delete">
    </form>
{% endblock %}