{% extends 'base.html' %}
{% block title %} Password Changed{% endblock %}

{% block content %}
<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            <h1 class="display-1">HURRAY!!!</h1>
                            <p class="lead">Login again. Your password is changed to new password.</p>
                            <a href="{% url 'login' %}">
                                <i class="fas fa-arrow-left me-1"></i>
                                Login Page
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutError_footer">
        
    </div>
</div>
{% endblock %}