{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Shailesh Banthia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if dashboard %} active {% endif %}" 
                        aria-current="page" 
                        href="#" >Dashboard</a>
                </li>
            </ul>
            <span class="navbar-text">
                <div class="dropdown">
                    <a class="dropdown-toggle" type="button" style="text-decoration: none;"
                    id="profile" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ user.username}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="profile">
                      <li><a class="dropdown-item" type="button" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                  </div>
            </span>
        </div>
    </div>
</nav>
{% endblock %}