{% extends 'template.html' %}
{% block title %}
Firm firm_list
{% endblock %}

{% block content %}

<h3 class="mt-1">Firm List</h3>


<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        <table id="firm_list" class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Abrevation</th>
                    <th>Created By</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Abrevation</th>
                    <th>Created By</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
            <thbody>
                {% for firm in firms %}
                <tr>
                    <td> {{ firm.name }}</td>
                    <td> {{ firm.abs }} </td>
                    <td> {{ firm.created_by }} </td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{% url 'ledger:update-firm' pk=firm.id %}">
                            Update</a>
                    </td>
                </tr>
                {% endfor %}
            </thbody>
        </table>
    </div>
</div>


{% endblock %}